{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listas</title>
</head>

<body style="background-color: #ef9a9a ; background: url('{% static 'imgs/background.jpg' %}');">
    <div class="row">

        <div class="col s12">


            <div class="col s12 m4 l8" style="background-color: #fff  ; margin: 10% 20%; padding: 1% 5% 1% 5%">
                <h1 style="text-align: center; color: rgb(230,96,69)">Itens cadastrados</h1>

                <div class="row" style="text-align: center; font-size: 30px">

                         {% if products %} {% for product in products %}
                        <ul>
                            <li>
                                <a href="{% url 'edit_prod' product.id %}"> {{product.nome}}</a>
                                <a style="color:red" href="{% url 'excluir_prod' product.id %}">
                                <i class="material-icons">delete_forever</i>
                                </a>
                            </li>
                        </ul>
                        {% endfor %}
                        <a class="btn-floating btn-large waves-effect waves-light red" href="{% url 'inserir_prod' %}">
                              <i class="material-icons">playlist_add</i>
                              Adiconar
                        </a>
                        {% else %}
                        <p style="text-align:center; color:rgb(230,96,69)">Parece que a lista ainda se encontra vazia. Que tal populá-la?</p>
                        <a style="margin: 0 45%" class="btn-floating btn-large waves-effect waves-light red" href="{% url 'inserir_prod' %}">
                            <i class="material-icons">add_box</i>
                            Inserir
                        </a>
                        {% endif %}
                </div>
            </div>

        </div>

    </div>






    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>